<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <package android:name="com.ft" />
    </queries>

    <application>
        <activity
            android:name="com.ft.launchtest.BackgroundComponentCallerActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />
    </application>

</manifest>
