<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application>
        <activity
            android:name=".DebugMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HistoricalAnrAcceptanceActivity"
            android:exported="false" />

        <activity
            android:name=".HistoricalAnrWorkerActivity"
            android:exported="false"
            android:process=":anr_worker" />

        <activity
            android:name=".MainActivity"
            tools:node="remove" />

        <service
            android:name=".BackgroundLaunchService"
            android:exported="true"
            android:foregroundServiceType="dataSync" />

        <service
            android:name=".BackgroundBoundService"
            android:exported="true" />

        <service
            android:name=".BackgroundLaunchJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name=".BackgroundLaunchReceiver"
            android:exported="true" />

        <provider
            android:name=".BackgroundLaunchProvider"
            android:authorities="com.ft.background-launch"
            android:exported="true" />

        <service
            android:name=".service.HistoricalAnrWorkerService"
            android:exported="false"
            android:process=":anr_worker" />

        <service
            android:name=".service.HistoricalAnrConsumerService"
            android:exported="false"
            android:process=":anr_consumer_a" />

        <service
            android:name=".service.HistoricalAnrConsumerServiceB"
            android:exported="false"
            android:process=":anr_consumer_b" />

        <receiver
            android:name=".HistoricalAnrAcceptanceReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.ft.historical_anr.acceptance.WORKER_VIEW_READY" />
                <action android:name="com.ft.historical_anr.acceptance.ANR_TRIGGERED" />
                <action android:name="com.ft.historical_anr.acceptance.ISSUE_OBSERVED" />
                <action android:name="com.ft.historical_anr.acceptance.PAYLOAD_OBSERVED" />
            </intent-filter>
        </receiver>

        <!-- remove provider setting -->
<!--        <provider-->
<!--            android:name="com.ft.sdk.garble.db.FTContentProvider"-->
<!--            android:authorities="${applicationId}.ft_sdk_provider_removed"-->
<!--            tools:node="remove" />-->


    </application>

</manifest>
